<div class="container">
<p><strong>Details about <%= @list.name %></strong></p>
<%# <%= cl_image_tag("h176w68tsfty5rse4u8e",
      width: 400, height: 300, crop: :fill) %> %>

 <% @list.movies.each do |movie| %>
    <div class="card" style="width: 18rem;">
      <img src=<%=  movie.poster_url  %>  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.overview %></p>
        <% movie.bookmarks.each do |review| %>
          <p class="card-text"><%= review.comment %></p>
      <% end %>
    </div>
  </div>
  <% end %>
<br>

<%= link_to "See all categorys", lists_path %>
<br>
<%= link_to "Add a movie to the list", new_list_bookmark_path(@list) %>
</div>
