
<%= render "shared/banner-bookmarks" %>
<div class="container">
  <%# <p><strong>Details about
      <%= @list.name %></strong></p>
  <%# <% if @list.photo.attached? %>

    <%# <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

  <%# <% end %>
  <div class="cards">
  <% @list.movies.each do |movie| %>
    <div class="card">
      <img src=<%=  movie.poster_url  %> class="card__image" alt="...">
      <div class="card-card_content">
        <h5 class="card_title"><%= movie.title %></h5>
        <p class="card_text"><%= movie.overview %></p>
        <% movie.bookmarks.each do |review| %>
          <p class="card-text"><%= review.comment %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <br>

  <%= link_to "See all categorys", lists_path %>
  <br>
  <%= link_to "Add a movie to the list", new_list_bookmark_path(@list) %>
</div>
